body {
	overflow: hidden;
}

.terminal-container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	align-self: center;
	justify-content: center;
}

.terminal {
	position: relative;
	width: 60vw;
	height: 80vh;
	top: 12%;
	align-self: center;
}

@media (max-width: 768px) {
	.terminal {
		height: 30vh !important;
		width: 80vw !important;
	}
}

.react-terminal {
	overflow: hidden;
}

.editor {
	overflow: hidden;
}
