.about{
    height: 450px;
    align-items: center;
}
/* Initial state: element is invisible */
.about {
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Smooth fade-in transition */
  }
  
  /* Visible state: element fades in */
  .about.visible {
    opacity: 1;
  }
  
  .education {
    /* Additional styling for the education content */
    font-size: 18px;
    color: #333;
    padding: 20px;
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
  }
  